{% block body %}
  
        <div class="row g-4 mt-5 ">
            <h2 class="mb-5 fw-bold text-warning text-center">Ils nous font confiance</h2>
            {% for avis in avisList %}
                <div class="col-md-6 col-lg-4">
                    <div class="card card-bg card-animation h-100 shadow-sm border-0 bg-light p-4 rounded-4">
                        <div class="d-flex align-items-center mb-3">
                            <img src="{{ asset('images/2289_SkVNQSBGQU1PIDEwMjgtMTIy.jpg') }}" alt="Avatar" class="rounded-circle me-3 border" style="width: 50px; height: 50px; object-fit: cover;">
                            <div>
                                <h6 class="mb-0 fw-semibold">{{ avis.nomClient }}</h6>
                                <small class="text-muted text-secondary">{{ avis.lieu }}</small>
                            </div>
                        </div>
                        <p class="mb-3 fst-italic text-warning">{{ avis.commentaire }}</p>
                        <div class="d-flex text-warning">
                            {{ avis.etoilesHtml|raw }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p class=" text-muted">Aucun avis trouvé.</p>
                </div>
            {% endfor %}
        </div>

        {# Affichage de la pagination #}
        <div class="mt-4 d-flex justify-content-center">
            {{ knp_pagination_render(avisList) }}
        </div>
        
        <div class="text-center mt-5">
            <a href="{{ path('user_avis') }}" class="btn btn-outline-primary">Connectez-vous pour laisser un message</a>
        </div>
{% endblock %}

